//! **************************************************************************
// Written by: Map P.20131013 on Thu Apr 30 19:12:48 2015
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "clk100" LOCATE = SITE "L15" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "U18" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "M14" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "L14" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "M13" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "D4" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P16" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "N12" LEVEL 1;
COMP "UartRx" LOCATE = SITE "A16" LEVEL 1;
COMP "UartTx" LOCATE = SITE "B16" LEVEL 1;
NET "clk100_BUFGP/IBUFG" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

